{% extends 'home/base.html' %}
{% load static %}


{% block content %}
<main role="main">
    <header>
        <span class="logo">Social Donors</span>
        <nav>
            <ul>
                <li><a href="{% url 'home-page' %}#types">types of donations</a></li>
                <li><a href="{% url 'home-page' %}#find">about us</a></li>
                <li><a href="{% url 'home-page' %}#join">talk to donors</a></li>
                <li><a href="{% url 'home-page' %}#rights">learn about donating</a></li>
            </ul>
        </nav>
        <div class="nav-icons">
            <input type="search" name="search" id="search" placeholder="search...">
            <i class="fa fa-bell"></i>
        </div>
        <div class="nav-btn" style="display: flex; justify-content: space-between; margin: 1.2em; background: #00003E; padding: 1em;">
            {% if user.is_authenticated %}
                <li style="list-style: none;"><a  href="{% url 'profile' %}">profile</a></li>
                <li style="list-style: none;"><a href="{% url 'logout-page' %}">logout</a></li>
            {% else %}
                <li style="list-style: none;"><a style="text-decoration: none; color: #fff; margin-left: 1em;" href="{% url 'log-page' %}">login</a></li>
                <li style="list-style: none;"><a href="{% url 'reg-page' %}">register</a></li>
            {% endif %}
        </div>
    </header>
    <div class="content">
        <div class="container">
            
            <div class="content-home">
                <div class="text-cont">
                    <h4>find the right blood type quicker</h4>
                    <h1>your blood can <span>save</span> lives</h1>
                    <p>blood is a precious resource that anyone can give <br> to someone in need. we need your blood, with each donation you <br> can save three lives.</p>
                    <input type="search" name="search" id="" class="fa fa-search" placeholder="search ..."> <div class="fa fa-search"></div>
                </div>
                <img src="{% static 'home/assets/img/home.png' %}" alt="" class="home">
                
            </div>
            <div class="content-find" id="find">
                <img src="{% static 'home/assets/img/give blood.png' %}" alt="" class="find">
                <div class="text-find">
                    <h1>
                        learn about social donors

                    </h1>
                    <p>Social Donors is an organisation that wants to help the world connect, by creating an app and platform for everyone to connect and help especially when you're in need of urgent help.
                        there are 2 ways you can get in touch:
                    </p>
                    <div class="find-icons">
                        <div>
                            <i class="fa fa-laptop"></i>
                            <h2>Check us out online..</h2>
                        </div>
                        <div>
                            <i class="fa fa-car"></i>
                            <h2>Drive to the nearest <br> hospital to enquire about us</h2>
                        </div>
                    </div>
                    <!-- <button >learn more</button> -->
                </div>
            </div>
            <div class="content-service" id="types">
                <div class="text-service">
                    <h1>types of donations</h1> 
                    <p>As a blood donor, you donate one pint of blood, which your body quickly replaces. As someone who is new to
                        donating blood, we encourage you to focus on being a healthy blood donor.</p>

                </div>
                <div class="img-service">
                    <div class="B blood-type">
                        <img src="{% static 'home/assets/img/image.jpg' %}" alt="">
                        <h4>BABY DONORS</h4>
                        <p>You may have heard someone say “I’m a baby donor” or “I donate for the babies.” What does that mean? It means they are CMV negative </p>
                        <!-- <a href="#">view all</a> -->
                    </div>
                    <div class="B types">
                        <img src="{% static 'home/assets/img/La-Jolla-mom-020421.jpg' %}" alt="">
                        <h4>DIRECTED DONATION</h4>
                        <p>A directed donation is one where a patient chooses the donor. A physician’s order is required and units need to be collected at least 5 working days prior to the planned surgery.</p>
                        <!-- <a href="#">view all</a> -->
                    </div>
                    <div class="B drive">
                        <img src="{% static 'home/assets/img/unnamed.jpg' %}" alt="">
                        <h4>BLOOD DRIVES</h4>
                        <p>Less than 1% of South Africans are active blood donors. A unit of blood only lasts 42 days after donation and, for this reason, it is important for blood donors to donate regularly.</p>
                        <!-- <a href="#">view all</a> -->
                    </div>
                </div>
            </div>
            <div class="content-world">
                <!-- <img src="/assets/img/laptop.png" alt=""> -->
                <div class="text-world">
                    <h1>World <span>blood donor </span>day</h1>
                    <p>World Blood Donor Day takes place on 14 June each year. The aim is to raise global awareness of the need for safe blood and blood products for transfusion and of the critical contribution voluntary, unpaid blood donors make to national health systems.</p>
                    <button><a href="https://www.who.int/news-room/events/detail/2021/06/14/default-calendar/world-blood-donor-day-2021" target="_blank">learn more</a></button>
                </div>
            </div>
            <div class="content-know" id="rights">`
                <div class="info-law">
                    <h1>know your rights before commiting.</h1>
                    <p>use the donors guideline for help</p>
                </div>
                <div class="img-law">
                    <img src="{% static 'home/assets/img/Untitled-Artwork-900x900.png' %}" alt="">
                </div>
                <!-- https://www.dropbox.com/s/jnytekip4uj34ab/BDSelection_WHOGuideAssessingDonorSuitability4BloodDonation.pdf?dl=0 -->
                <a href="/assets/doc/BDSelection_WHOGuideAssessingDonorSuitability4BloodDonation.pdf" class="link-drive" target="">view all</a>
                
            </div>

            <div class="laws-content">

            </div>
            <div class="content-join" id="join">
                <div class="img-join">
                    <img src="{% static 'home/assets/img/undraw_creative_team_r90h (1) - Copy.svg' %}" alt=""> 
                </div>
                <div class="text-join">
                    <h1>join the <span>social donor</span> community</h1>
                    <div class="text">
                        <div class="gal">
                            <h2>Galleries</h2>
                            <p>Showcase your best moments, get feedback and save lives</p>
                            
                        </div>
                        <div class="BD">
                            <h2>blood drives</h2>
                            <p>Come and join blood drive events near you</p>

                        </div>
                        <div class="FD">
                            <h2>Find Donor</h2>
                            <p>Join the community for easier assess to blood donors</p>

                        </div>
                        <a href="/log_page.html">Join the community</a>
                    </div>
                </div>
            </div>
            
            
            <footer>
                <h1>SocialDonors</h1>
                <div class="link-info">
                    
                    <div class="AC">
                       <h2>about company</h2>
                       <p>From the day that human life is conceived, blood fulfils a life giving and nurturing role. Blood is the fluid of growth, transporting nourishment from digestion and hormones from glands throughout the body. Blood is the fluid of health, transporting disease fighting substances to the tissue and body waste to the kidneys.

                        Because it contains living cells, blood is alive. Unlike medications that are manufactured, blood cannot be manufactured. Healthy donors are the only source of blood for those who need it.</p>
                    </div>
                    <div class="links">
                        <h3>links</h3>
                        <ul>
                            <li>
                                <a href="/index.html">
                                    Types Of Donations</a>
                            </li>
                            <li>
                                <a href="/index.html">About Us</a>
                            </li>
                            <li>
                                <a href="/index.html">Talk To Donors</a>
                            </li>
                            <li>
                                <a href="/index.html">Learn About Donating</a>
                            </li>
                        </ul>
                    </div>

                    <form action="index.html">
                        <h1>newsletter</h1>
                        <div>
                            <label for="email">E-mail</label><br>
                            <input type="email" name="mail" id="email">
                        </div>
                        <button type="submit">subscribe</button>
                    </form>
                </div>
                
                <div>
                    <p class="CP">© 2021 social donor</p>
                </div>
            </footer>
        </div>
        
    </div>
    <!-- <footer></footer> -->
</main>
{% endblock content %}