*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.side__bar{
    background-color: #00003E;
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#log-out{
    position: absolute;
    bottom: 10px;
    left: 60px;
    margin: auto;
    font-size: 1.2rem;
    color: #fff;
    
}
#log-out a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 1em;
    color: #fff;
}
.main-content{
    margin-left: 280px;
}

.side_brand{
    background: #FF0000;
    height: 72px;
    margin-bottom: 5rem;
    padding-left: 2rem;
    color: #fff;
    font-family: 'poppins', sans-serif;
    text-transform: capitalize;
}

.title{
    
    display: inline-block;
    margin-top: .5em;
    padding-right: 1rem;
    padding-left: 2rem;
}
.side-manu{
    margin-top: 1rem;
    z-index: 100;
}

.side-manu li{
    margin-bottom: 1rem;
    width: 100%;
    padding-left: 4rem;
}

.side-manu a{
    /* margin: 10px; */
    padding-left: 1rem;
    display: block;
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
}

.side-manu a span:first-child{
    font-size: 1.2rem;
    padding-left: 1rem;
    /* text-transform: uppercase; */
}

.side-manu a.active{
    background: #fff;
    padding: 1rem 0;
    color: red;
    border-radius: 30px 0 0 30px;
}

.top-nav{
    background-color: #00003E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 280px;
    width: calc(100% - 280px);
    top: 0;
    z-index: 100;
}
.top-nav h2{
    font-size: calc(1px + 1.5rem);
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'kumbh sans',sans-serif;
    color: #fff ;
}
.top-nav label span{
    padding-right: 1.7rem;
}

.search-wrapper{
    border-radius: 30px;
    /* outline: none; */
    border: 1px solid #a1a1a1;
    height: 40px;
    width: 250px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background: #fff;
}

.search-wrapper input{
    outline: none;
    border: none;
    padding: .5rem;
    height: 100%;
}


.user-wrapper{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.user-wrapper img{
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px dashed #F4D1D1;
}
.user-wrapper h4{
    color: #Fff;
    margin-bottom: 0 !important;
}
.user-wrapper small{
    display: inline-block;
    color: #a1a1a1;
    margin-top: -10px !important;
}

.main{
    margin-top: 55px;
    /* background-color: #a1a1a1; */
    background: #69699c9f;
    padding: 2rem 1.5rem;
    min-height: calc(100vh - 80px);
}




.service-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    height: 10px;
}

.single-card{
    display: flex;
    justify-content: space-between;
    background-color: rosybrown;
    padding: 2rem;
    width: 250px;
    height: 150px;
}

.single-card div:first-child span{
    
    color: #fff;
}

.single-card div:last-child span{
    font-size: 3rem;
}

.area{
    display: flex;
    justify-content: space-between;
    height: 180px;
}
.profile{
    max-width: 300px;
    height: 50em;
    /* padding: 10px; */
    background-color: rosybrown;
    /* margin: 10px; */
}

.profile img{
    border: none;
    outline: none;
    border-radius: 80%;
    height: 150px;
    width: 150px;
    margin: 10px 5rem;
    /* margin-right: 4em; */
    /* padding-left: 2rem; */
    /* justify-content: center; */
}
.profile img, label span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-1{
    margin: 1rem;
}

.info-1 span h1{
    margin: 10px 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: 'kumbh sans',sans-serif;
    font-weight: 500;
}

.info-1 p{
    border: 1px solid #a1a1a1;
    padding: .5rem;
    margin-bottom: 1em;
}

button{
    padding: 10px;
    height: 40px;
    width: 10rem;
    border: none;
    outline: none;
    margin: 10px 4rem;
}
.edit{
    color: #ff010193;
}

.requests{
    /* background-color: rosybrown; */
    height: 70px;
    width: 52em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: ; */
}
.alert{
    background: #00003E;
    height: 10px;
    width: 20px;
    padding: 1rem;
    color: #fff;
    text-transform:capitalize;
    border-radius: 10px;
    margin: 20px;
}
.make_requests{
    background: #00003E;
    /* height: 10px; */
    /* width: 10px; */
    color: #fff;
    border-radius: 50%;
    border: 1px solid #00003E;
    padding: .5rem .8rem;
    font-size: 2rem;
    margin: 20px;
}

.events_followers{
    margin-top: 10px;
    background-color: rosybrown;
    height: 30em;
    width: 52em;
}


.member{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info{
    display: flex;
    align-items: center;
    margin: 0;
}

.info img{
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4{
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small{
    font-weight: 600;
    color: grey;
}

.contact span{
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: #00003E;

}

.card{
    background: #fff;
    border-radius: 5px;
    width: 50vw;
}
.members{
    width: 50vw;
}

.card-header,
.card-body{
    padding: .5rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f0f0f0;
}
.card-header button{
    background: #00003E;
    border-radius: 10px;
    font-size: .8rem;
    color: #fff;
    padding: .5rem 1rem;
    border: 1px solid #00003E;
}