*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



nav{
    background: #d60505;

    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
legend{
    font-size: 2.5em;
    color: #fff;
    padding-left: 1em;
}
ul{
    display: flex;
    margin-right: 20em;
}
ul li{
    list-style: none;
    padding: 1em;
}
ul li a{
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}
.nav-btn{
    display: flex;
    list-style: none;
}
.nav-btn a{
    margin: 1em;
    padding: .7em;
    text-decoration: none;
    background: #00003e;
    color: #fff;
    border-radius: 10px;
}
.landing{
    background-color: #ffd5d5a1;
    /* background-color: #f8c2c2; */
    /* height: 30vh; */
}

.landing-content{
    border: 4px solid rebeccapurple;
    margin: 0 auto;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: auto 1em;
}
.langing-image{
    width: 40rem;

}


.content-find{
    background: white;
    height: 50vh;
}
.find{
    border: 4px solid orange;
    margin: 0 auto;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: auto 1em;
}


.content-service{
    background-color: #ffd5d5a1;
    /* height: 30vh; */
}
.service{
    line-height: 1.2;
    height: 60vh;
    border: 4px solid #00ff26;
    margin: 0 auto;
    width: 70%;

    padding: auto 1em;
}

.g-images{
    width: 150px;
}
.text-service{
    width: 60vw;
    margin: 2em 5em;
    line-height: 1.7;
}

.img-service{
    width: 90%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.img-service p{
    line-height: 1.07;
    font-size: 1.1rem;
    margin-bottom: 1.5em;
    width: 50%;
}