{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <input type="checkbox"  id="">
    <div class="side__bar" id="side_bar">
        <div class="side_brand">
            <h1>
                <span class="title">
                    social donor
                </span>
            </h1>
        </div>
        <div class="side-manu">
            <ul>
                <li>
                    <a href="{% url 'home-page' %}"><span class="dashboard">home</span></a>
                </li>
                <li>
                    <a href="#"  class="active"><span class="profil">profile</span></a>
                </li>
                <li>
                    <a href="#"><span class="settings">dashboard</span></a>

                    
                </li>
            </ul>
        </div>
        <i class="fa fa-sign-out-alt" id="log-out"><a href="{% url 'logout-page' %}">logout</a></i>
    </div>  

    <div class="main-content">

        <div class="top-nav">
            <h2>
                <label for="">
                    <span class="fa fabars"></span>
                </label>

                profile

            </h2>
            <div class="search-wrapper">
                <span class="fa fa-search"></span>
                <input type="search" placeholder="Search"/>
            </div>
            <div class="user-wrapper">
                <img src="{{ user.profile.image.url }}" alt="" height="30px" width="30px">
                <div>
                    <h4>{{ user.username }}</h4>
                    <small>Volunteer Donor</small>
                </div>
            </div>
        </div>
        <main class="main">
            <div class="area">
                <div class="service-cards">
                    <div class="single-card">
                        <div>
                            <h1>8</h1>
                            <span>Volunteering services</span>
                        </div>
                        <div>
                            <span class="fa fa-users"></span>
                        </div>
                    </div>
                    <div class="single-card">
                        <div>
                            <h1>1</h1>
                            <span>Blood Drives</span>
                        </div>
                        <div>
                            <span class="fa fa-users"></span>
                        </div>
                    </div>
                    <div class="single-card">
                        <div>
                            <h1>13</h1>
                            <span>Requests</span>
                        </div>
                        <div>
                            <span class="fa fa-users"></span>
                        </div>
                    </div>

                </div>
                <div class="profile">
                    <label for="">
                        <img src="{{ user.profile.image.url }}" alt="" height="250em">
                        <span>Volunteer  <a href="/index-skill2.html" class="edit"> edit profile</a></span>
                    </label>

                    <div class="profile-content">
                        <div class="info-1">
                            <span>
                                <h1>name & surname</h1>
                                <span>{{ user.profile.f_name }} {{ user.profile.l_name }}</span>
                            </span>
                            <span>
                                <h1>Blood Group</h1>
                                <span>O+</span>
                            </span>
                            <span>
                                <h1>location</h1>
                                <span>None <a href="/index-skill2.html" class="edit">edit*</a></span>
                            </span>
                            <span>
                                <h1>description</h1>
                                <p>hi my name is janney but everyone just calls me jane, im a student and a very energetic person
                                </p>
                            </span>
                            <a href="/index-skill2.html">edit profile</a>
                        </div>
                    </div>

                
                </div>
            </div>
            <div class="requests">
                <div>
                    <a href="/alert1.html" class="alert">you have one request</a>
                </div>
                <div>
                    <a href="#" class="make_requests">+</a>
                </div>
            </div>
            <div class="members"><!--projects-->
                <div class="card">
                    <div class="card-header">
                        <h2>members</h2>
                        <button>view all</button>
                    </div>
                    <div class="card-body">
                        <div class="member">
                            
                            <div class="info">
                                <img src="{% static 'home/assets/img/dsf.png' %}" alt="" width="40px" height="40px">
                                <div>
                                    <h4>Thando Ndlovu</h4>
                                    <small>Volunteer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fa fa-user-circle"></span>
                                <span class="fa fa-comment"></span>
                                <span class="fa fa-phone"></span>
                            </div>
                        </div>
                        <div class="member">
                            <div class="info">
                                <img src="{% static 'home/assets/img/shotobnha-800x445.jpg' %}" alt="" width="40px" height="40px">
                                <div>
                                    <h4>Chalice Liccon</h4>
                                    <small>Volunteer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fa fa-user-circle"></span>
                                <span class="fa fa-comment"></span>
                                <span class="fa fa-phone"></span>
                            </div>
                        </div>
                        <div class="member">
                            <div class="info">
                                <img src="{% static 'home/assets/img/top-20-anime-characters-with-sleek-silver-hair.jpg' %}" alt="" width="40px" height="40px">
                                <div>
                                    <h4>Ben Keen</h4>
                                    <small>Volunteer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fa fa-user-circle"></span>
                                <span class="fa fa-comment"></span>
                                <span class="fa fa-phone"></span>
                            </div>
                        </div>
                        <div class="member">
                            <div class="info">
                                <img src="{% static 'home/assets/img/Untitled-1.png' %}" alt="" width="40px" height="40px">
                                <div>
                                    <h4>Jake Black</h4>
                                    <small>Volunteer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fa fa-user-circle"></span>
                                <span class="fa fa-comment"></span>
                                <span class="fa fa-phone"></span>
                            </div>
                        </div>
                        <!-- <div class="member"></div>
                            <div class="info">
                                <img src="/social donors/assets/img/download.jpg" alt="" width="40px" height="40px">
                                <div>
                                    <h4>Thandi Ndlovu</h4>
                                    <small>Volunteer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fa fa-user-circle"></span>
                                <span class="fa fa-comment"></span>
                                <span class="fa fa-phone"></span>
                            </div>
                        </div> -->
                        <div class="member">
                            <div class="info">
                                <img src="{% static 'home/assets/img/dsf.png' %}" alt="" width="40px" height="40px">
                                <div>
                                    <h4>Venessa Lucks</h4>
                                    <small>Volunteer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fa fa-user-circle"></span>
                                <span class="fa fa-comment"></span>
                                <span class="fa fa-phone"></span>
                            </div>
                        </div>
                        <div class="member">
                            
                            <div class="info">
                                <img src="{% static 'home/assets/img/15a465ccc00f178f6b252ee002f0c465.jpg' %}" alt="" width="40px" height="40px">
                                <div>
                                    <h4>Jake Parks</h4>
                                    <small>Volunteer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fa fa-user-circle"></span>
                                <span class="fa fa-comment"></span>
                                <span class="fa fa-phone"></span>
                            </div>
                        </div>
                        <div class="member">
                            <div class="info">
                                <img src="{% static 'home/assets/img/La-Jolla-mom-020421.jpg' %}" alt="" width="40px" height="40px">
                                <div>
                                    <h4>lindo thna</h4>
                                    <small>Volunteer</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="fa fa-user-circle"></span>
                                <span class="fa fa-comment"></span>
                                <span class="fa fa-phone"></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
     
{% endblock content %}